body {
    text-align: center;
    font-family: sans-serif;
}


button {
    width: 150px;
    height: 110px;
    border: none;
    border-radius: 10px;
    background-color:cadetblue;
}

button:hover {
    cursor:pointer;
    background-color:rgb(98, 184, 187);
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap:50px;
    flex-wrap: wrap;

}

.score-container, .round {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.btn-group {
    display: flex;
    align-items: center; 
    justify-content: space-around;   
    flex-grow: 1;
}

.tick {
    font-size: 125px;
}


h3 {
    margin-left: 12px;
}

@media screen and (max-width: 883px) {
    .scoreboard {
      flex-direction: column;
    }   
  }

  .bold {
      font-weight: bold;
  }


  .fa-regular {
      font-size: 75px;
  }